<div class="card w-75">
  <div class="card-body row d-flex align-items-center">
    <img src="http://localhost:3000/products/getImage/acostamentoAzulClaro-db59.jpeg" alt="" class="img-fluid col-3">
    <div class="col-6 ">
        <p class="card-text">Name product</p>
        <p class="card-text">Price product</p>
    </div>
    <div class="col-3 ">
      <button class="btn btn-success w-100 mb-2">
        Comprar novamente
      </button>
      <button class="btn btn-danger w-100">
        Cancelar
      </button>
    </div>
  </div>
</div>
