<h4 class="text-center my-5">Crie sua conta</h4>


  <form
    [formGroup]="signupForm"
    class="form container"
    (submit)="signup()"
  >
    <div class="form-group">
      <label>Email</label>
      <input
        formControlName="email"
        class="form-control"
        placeholder="Email"
        autofocus
      >


      <app-vmenssage
      *ngIf="signupForm.get('email').errors?.required && signupForm.get('email').dirty"
        text="Por favor, informe seu email"
      >
      </app-vmenssage>

    </div>
    <div class="form-group">
      <label>Nome de usuário</label>
      <input
        formControlName="userName"
        class="form-control"
        placeholder="Nome de usuário"

      >

      <app-vmenssage
      *ngIf="signupForm.get('userName').errors?.required && signupForm.get('userName').dirty"
        text="Por favor, informe seu nome"
      >
      </app-vmenssage>
      <app-vmenssage
      *ngIf="signupForm.get('userName').errors?.maxlength && signupForm.get('userName').dirty"
        text="Máximo de 12 caractéres."
      >
      </app-vmenssage>

    </div>

    <div class="form-group">
      <label>Senha</label>
      <input
        formControlName="password"
        type="password"
        class="form-control"
        placeholder="Senha"
      >
      <app-vmenssage
        *ngIf="signupForm.get('password').errors?.required && signupForm.get('password').dirty"
        text="Password is required"
      >
      </app-vmenssage>
      <app-vmenssage
        *ngIf="signupForm.get('password').errors?.minlength && signupForm.get('password').dirty"
        text="Mínimo de 6 caracteres"
      >
      </app-vmenssage>
    </div>

    <div class="form-group">
      <label>Confirmação de senha</label>
      <input
        formControlName="confirmPassword"
        type="password"
        class="form-control"
        placeholder="Confirmação de senha"
      >
      <app-vmenssage
        *ngIf="signupForm.get('confirmPassword').errors?.confirmPasswordValidator
           &&
          signupForm.get('confirmPassword').dirty"
        text="A senha e confirmação de senha não batem"
      >
      </app-vmenssage>
    </div>


    <button
      [disabled]="signupForm.invalid"
      type="submit"
      class="btn btn-success"
      >
      Registrar
    </button>

    <p class="text-center mt-2">Já é um inscrito?
      <strong>
        <a
          [routerLink]="['']"
          class="text-dark"
        >
        Login!
        </a>
      </strong>
    </p>

  </form>




