<h4 class="text-center">Crie sua conta</h4>

<!-- [FormFroup]="loginForm" é para mostrar quem vai controlar meu formulário. -->
<div class="container">
  <form
    [formGroup]="signupForm"
    class="form mt-4 w-50 h-90 mx-auto "

  >
    <div class="form-group">
    <!-- Utiliando o nome que colocamos no formBuilder e sua altentucação. -->
      <input
        formControlName="email"
        class="form-control"
        placeholder="Email"
        autofocus
      >

      <!-- Mensagem de erro componentiado. -->
      <app-vmenssage
      *ngIf="signupForm.get('email').errors?.required && signupForm.get('email').dirty"
        text="Por favor, informe seu email"
      >
      </app-vmenssage>

    </div>
    <div class="form-group">
      <!-- Utiliando o nome que colocamos no formBuilder e sua altentucação. -->
      <input
        formControlName="userName"
        class="form-control"
        placeholder="Nome completo"

      >

      <!-- Mensagem de erro componentiado. -->
      <app-vmenssage
      *ngIf="signupForm.get('userName').errors?.required && signupForm.get('userName').dirty"
        text="Por favor, informe seu nome"
      >
      </app-vmenssage>


    </div>

    <div class="form-group">
      <input
        formControlName="password"
        type="password"
        class="form-control"
        placeholder="Senha"
      >
      <app-vmenssage
        *ngIf="signupForm.get('password').errors?.required && signupForm.get('password').dirty"
        text="Password is required"
      >
      </app-vmenssage>
      <app-vmenssage
        *ngIf="signupForm.get('password').errors?.minlength && signupForm.get('password').dirty"
        text="Mínimo de 6 caracteres"
      >
      </app-vmenssage>
    </div>

    <div class="form-group">
      <input
        formControlName="confirmPassword"
        type="password"
        class="form-control"
        placeholder="Confirmação de senha"
      >
      <app-vmenssage
        *ngIf="signupForm.get('confirmPassword').errors?.confirmPasswordValidator
           &&
          signupForm.get('confirmPassword').dirty"
        text="A senha e confirmação de senha não batem"
      >
      </app-vmenssage>
    </div>

    <!-- Caso tenha algum erro no FormGroup, o botão ficará desabilitado. -->
    <button
      [disabled]="signupForm.invalid"
      type="submit"
      class="btn btn-primary btn-block"
      >
      signup
    </button>

  </form>

  <p class="text-center pt-3">
    Not a user? <a>Registre now</a>
  </p>

</div>
